<h1>Vecktorn</h1>

<ul>
<% @vecktors.each do |vecktor| %>
  <li>
    <b><%= link_to vecktor, vecktor %></b>
    (<%= link_to 'Ändra', edit_vecktor_path(vecktor) %> |
    <%= link_to 'Förinta', vecktor, confirm: 'Är du säker?', method: :delete %>)
  </li>
<% end %>
</ul>

<br />

<%= link_to 'Ny vecktor', new_vecktor_path %>
