<h1>Ändra nyhet</h1>

<%= render 'form' %>

<br />

<p class="controls">
<%= link_to 'Visa', @news %> |
<%= link_to 'Förinta', @news, :confirm => 'Är du säker?', :method => :delete %> |
<%= link_to 'Tillbaka', news_index_path %>
</p>
