<h1>Settings</h1>

<table class="settings">
<% @settings.each do |key, value| %>
  <tr>
    <td><%= key.to_sym.inspect %></td>
    <td> =&gt;  </td>
    <td><%= value.inspect %></td>
  </tr>
<% end %>
</table>

<br />

