/* fsek.css.scss */

/* constants */

$o_light:  #f00;
$o_dark:   #c70;
$o_light:  #f90;
$g_dark:   #919194;
$g_light:  #e6e6e6;

/* mixins */

/* general */

html {
    font-family: helvetica, verdana, arial, sans-serif;
}

p {
    color: #000;
    font-family: inherit;
    font-size: 11pt;
}

h2 {
    font-family: inherit;
    font-weight: bold;
}


a {
    color: #000;
    font-family: inherit;
    font-size: 11pt;
    &:link {
        text-decoration: none;
        color: $o_dark;
    }
    &:visited {
        color: $o_dark;
    }
    &:hover {
        text-decoration: underline;
        color: #000;
    }
}

/* rails stuff */

#notice {
    background-color: $o_light;
}

/* user in several views */

.controls a {
    font-weight: bold;
}

/* views/layouts/application.html.erb */

table.list {
    width: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div#main-container {
    min-height: 100%;
    background-color: $g_dark;
    background-image: image-url('stripe.png');
    padding: 20px 10px 10px 10px;
}

#banner-text {
    margin: 0px 0px 0px 10px; 
    padding: 0px;
    text-align: left;
    font-family: georgia, times, serif;
    font-size: 36pt;
    font-variant: small-caps;
    color: $o_light;
}

div#main-head a:hover {
    text-decoration: none;
}

div#top-menu {

}

#top-menu ul {
    margin: 0px 0px;
    padding: 10px 0px;
    background-color: transparent;
    border-bottom: 2px solid $o_light;
}

#top-menu li {
    margin: 0px 0px;
    padding: 10px 5px;
    font-size: 12pt;
    display: inline;
}

#top-menu a:hover {
}

#top-menu a {
    position: relative;
    top: 2px;
    padding: 10px 10px; 
    font-size: 12pt;
    background-color: white;
    border: 2px solid $o_light;
    border-bottom-style: none;
}

#top-menu a:link {
    color: $o_dark;
    text-decoration: none;
}
    
#top-menu a:hover {
    color: #FFF;
    background-color: $o_light;
}

div#main-wrapper {
    position: relative;
    background-color: #FFF;
    border: 0px $o_light solid;
    border-width: 0px 2px 2px 2px;
}

$side_width: 162px;

div#main-content {
    min-height: 100%;
    padding: 10px $side_width + 20px 10px 10px;
    background: $g_light image-url('fade-50v.png') repeat-x scroll bottom;
}

div#side-menu {
    width: $side_width;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px 0px 0px 20px;
    height: 100%;
    background: $g_dark image-url('fade-20h.png') repeat-y scroll left;
}

#side-menu ul {
    padding: 0px;
    margin: 0px;
}

#side-menu li {
    display: block;
    position: relative;
    right: 2px;
    border: 2px solid $o_light;
    width: $side_width - 20px;
    background: $g_light image-url('2fade-40v.png') repeat-x scroll left;
    padding: 10px 10px; 
    margin: 4px 0px;
}

#side-menu a {
    font-size: 12pt;
}
