/* fsek.css.scss */

/* constants */

$f_orange: #ff9400;

/* mixins */

/* general */

html {
    font-family: helvetica, verdana, arial, sans-serif;
}

p {
    color: #000;
    font-family: inherit;
    font-size: 11pt;
}

h2 {
    font-family: inherit;
    font-weight: bold;
}


a {
    color: #000;
    font-family: inherit;
    font-size: 11pt;
    &:link {
        text-decoration: none;
        color: $f_orange;
    }
    &:visited {
        color: $f_orange;
    }
    &:hover {
        text-decoration: underline;
        color: #000;
    }
}

/* rails stuff */

#notice {
    background-color: $f_orange;
}

/* user in several views */

.controls a {
    font-weight: bold;
}

/* views/layouts/application.html.erb */

table.list {
    width: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div#main-container {
    min-height: 100%;
    background-color: #97969e;
    background-image: image-url('stripe.png');
    padding: 20px 10px 10px 10px;
}

#banner-text {
    margin: 0px 0px 0px 10px; 
    padding: 0px;
    text-align: left;
    font-family: georgia, times, serif;
    font-size: 36pt;
    font-variant: small-caps;
    color: $f_orange;
}

div#main-head a:hover {
    text-decoration: none;
}

div#top-menu {

}

#top-menu ul {
    margin: 0px 0px;
    padding: 10px 0px;
    background-color: transparent;
    border-bottom: 2px solid $f_orange;
}

#top-menu li {
    margin: 0px 0px;
    padding: 10px 5px;
    font-size: 12pt;
    display: inline;
}

#top-menu a:hover {
}

#top-menu a {
    position: relative;
    top: 2px;
    padding: 10px 10px; 
    font-size: 12pt;
    background-color: white;
    border: 2px solid $f_orange;
    border-bottom-style: none;
}

#top-menu a:link {
    color: $f_orange;
    text-decoration: none;
}
    
#top-menu a:hover {
    color: #FFF;
    background-color: $f_orange;
}

div#main-wrapper {
    position: relative;
    background-color: #FFF;
    border: 0px $f_orange solid;
    border-width: 0px 2px 2px 2px;
    padding-top: 20px;
}

div#main-content {
    min-height: 100%;
    margin-top: -20px;
    margin-right: 162px;
    margin-left: 10px;
}

div#side-menu {
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0px 20px;
    height: 100%;
    border-left: 2px solid $f_orange;
}

#side-menu ul {
    padding: 0px;
}

#side-menu li {
    display: block;
}
