// fsek.sass

// global constants

$o_light:  #f00
$o_dark:   #c70
$o_light:  #f90
$g_dark:   #999
$g_light:  #ddd

// mixins

$border_radius: 3px

@mixin round-corners($radius)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius

@mixin round-corners-bottom($radius)
    @include round-corners(0)
    -webkit-border-bottom-right-radius: $radius
    -webkit-border-bottom-left-radius: $radius
    -moz-border-radius-bottomright: $radius
    -moz-border-radius-bottomleft: $radius
    border-bottom-right-radius: $radius
    border-bottom-left-radius: $radius

// general

* 
    margin: 0

html 
    font-family: helvetica, verdana, arial, sans-serif
    font-size: 11pt

p 
    color: black
    font-size: 11pt
    margin: 20px 0
    text-align: justify

h1 
    margin: 0 0 20px 0

h2 
    font-weight: bold
    margin: 0 0 20px 0

a 
    color: black
    font-family: inherit
    font-size: 11pt
    &:link 
        text-decoration: none
        color: $o_dark
    
    &:visited 
        color: $o_dark
    
    &:hover 
        text-decoration: underline
        color: black

td
    padding: 0 8px

// rails stuff

p#notice 
    @include round_corners($border_radius)
    background-color: $o_light
    border: 2px solid $o_dark
    padding: 4px
    color: white
    font-weight: bold

// used in several views

.framed
    border-top: 2px solid $o_light
    border-bottom: 2px solid $o_light
    padding: 4px 0
    margin: 4px 0
    line-height: 150%

.controls a
    font-weight: bold


.field
    margin: 10px 0

// views/layouts/application.html.erb

@mixin lingrad
    background: $o_light
    background: -webkit-gradient(linear, left top, left bottom, from($o_light), to($o_dark))
    background: -moz-linear-gradient(top, $o_light, $o_dark)

@mixin rev-lingrad
    background: $o_dark
    background: -webkit-gradient(linear, left top, left bottom, from($o_dark), to($o_light))
    background: -moz-linear-gradient(top, $o_dark, $o_light)


html, body 
    margin: 0
    padding: 0
    height: 100%

body
    background-color: white

$menu_height: 40px

// The great dropdown menu style.

nav#top-menu
    @include lingrad
    @include round-corners($border_radius)
    height: $menu_height
    margin: 20px
    border: $g_light 1px solid
    padding: 0
    div 
        display: inline
        line-height: 40px
        position: relative
        border-right: $g_light 1px solid
        float: left
        padding: 0 10px
    div:hover
        @include rev-lingrad
    div#f-logo
        background-image: url('f-40px.png') 
        background-position: center
        padding: 0
        height: $menu_height
        width: $menu_height
    div.submenu
        border: none
        padding: 0
        margin: 0
    div.top-sub 
        @include round-corners-bottom($border_radius)
        margin: 0
        padding: 0
        display: none
        position: absolute
        top: $menu_height
        left: -1px
        z-index: 0
        background: $o_light
        border: $g_light 1px solid
        border-top: none
        a
            line-height: 15px
            padding: 10px 20px 
            border-width: 0px 
        a:hover
            text-decoration: underline
    a
        font-weight: bold
        color: white
        text-decoration: none

article#content
    margin: 0 40px
    padding-bottom: 40px
    max-width: 900px

