// fsek.css.scss

// constants

$o_light:  #f00
$o_dark:   #c70
$o_light:  #f90
$g_dark:   #919194
$g_light:  #e6e6e6

// mixins

// general

* 
    margin: 0

html 
    font-family: helvetica, verdana, arial, sans-serif

p 
    color: black
    font-size: 11pt
    margin: 20px 0

h1 
    margin: 0 0 20px 0

h2 
    font-weight: bold
    margin: 0 0 20px 0

a 
    color: black
    font-family: inherit
    font-size: 11pt
    &:link 
        text-decoration: none
        color: $o_dark
    
    &:visited 
        color: $o_dark
    
    &:hover 
        text-decoration: underline
        color: black

// rails stuff

#notice 
    background-color: $o_light

// used in several views

.controls a 
    font-weight: bold

// views/layouts/application.html.erb

html, body 
    margin: 0
    padding: 0
    height: 100%

body
    background-color: white

nav#top-menu
    background: $o_light
    background: -webkit-gradient(linear, left top, left bottom, from($o_light), to($o_dark))
    background: -moz-linear-gradient(top, $o_light, $o_dark)
    margin: 20px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    border: black 1px solid
    padding: 15px 0
    ul
        display: inline
        padding: 0
        li
            position: relative
    ul.top-super li
        padding: 15px
        display: inline
    ul#top-left li
        border-right: black 1px solid
    ul#top-right li
        border-left: black 1px solid
    ul.top-sub 
        display: none
        position: absolute
        background: $o_dark
        border: black 1px solid
        border-top: none
        li
            padding: 10px 20px 
            border-width: 0px 
    a
        font-weight: bold
        color: white

article#content
    margin: 10px 40px 
    max-width: 900px




