/* general */

a {
    color: #000;
}

a:link {
    text-decoration: none;
    color: #FF9400;
}

a:visited {
    color: #FF9400;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

/* rails stuff */

#notice {
    background-color: #FFC473;
}

/* views/layouts/application.html.erb */

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div#main-container {
    min-height: 100%;
    background-color: #FFF;
    padding: 0px 20px 0px 10px;
}

div#main-head h1 {
    margin: 0px 10px 10px 10px; 
    padding: 0px;
    text-align: left;
    font-family: georgia, times, serif;
    font-size: 36pt;
    font-variant: small-caps;
    color: #FF9400;
}

div#main-head a:hover {
    text-decoration: none;
}

div#top-menu {
    border: 0px solid #FF9400;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#top-menu ul {
    margin: 0px 0px;
    padding: 10px 0px;
}

#top-menu li {
    padding: 10px 0px;
    font-size: 12pt;
    display: inline;
}

#top-menu li:hover {
    background-color: #FF9400;
}

#top-menu a {
    padding: 10px 0px; 
    font-size: 12pt;
    background-color: transparent;
}

#top-menu a:link {
    color: #FF9400;
    text-decoration: none;
}
    
#top-menu a:hover {
    color: #FFF;
}

div#main-wrapper {
    position: relative;
    padding-top: 20px;
}

div#main-content {
    min-height: 100%;
    margin-top: -20px;
    margin-right: 162px;
}

div#side-menu {
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0px 20px;
    height: 100%;
    border-left: 2px solid #FF9400;
}

#side-menu ul {
    padding: 0px;
}

#side-menu li {
    display: block;
}
