// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news h2 {
}

.news p {
    text-align: justify;
}

.news-controls a {
    font-weight: bold;
}

.news li {
    display: inline;
    font-weight: bold;
}

