// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    border-bottom: 1px solid #FF9400;
}
